// Depth pass
Pass
{		
	Tags { "LightMode"=${VFXPassDepth} }

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define VFX_PASSDEPTH VFX_PASSDEPTH_ACTUAL
	${VFXInclude("../../Assets/VATExtension/Templates/Shaders/ParticleMeshes/PassDepthOrMV.template")}
	ENDHLSL
}
